@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: auto;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    background: #1e202b;
    /* background-color: #bfc1c8; */
}

@media (max-width: 1350px) {

    /* .forecast-table {
        /* max-width: 90%; */
        /* padding-left: auto; */
    /* } */
    .hat {
        display: flex;
        justify-content: center;
        margin-left: 35px;
        max-width: 95%;
    }
}

@media (max-width: 1230px) {
    .hat {
        margin-left: 45px;
    }
    
}
@media (max-width: 1170px) {
    html:not(.hero) {
        margin-left: 150px;
    }
}
@media (max-width: 600px) {
    
}
@media (max-width: 300px) {
    
}











#boss {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.hat {
    display: block;
    padding: 50px 0px;
    background-color:#1e202b;
    height: 140px;
}

.banner {
    cursor: pointer;
    display: flex;
}

.banner-text {
    color: white;
}

.logo{
    margin-right: 15px;
}

.company-name {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 18px;
    height: 24px;
}
.company-description {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    color: #bfc1c8;
}
.nav-bar {
    display: grid;
    font-family: "Roboto",'Open Sans', sans-serif;
    font-weight: 300;
    margin-left: auto;
    grid-template-columns: repeat(5, 1fr);
    height: 31px;
    text-align: center;
    color: white;
}


.menu-item {
    cursor: pointer;
    border: 2px solid transparent;
    color: white;
    height: 31px;
    text-decoration: none;
    transition: .2s ease;


    margin-right: 15px;
    padding-top: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.menu-item::after {
    content: " ";
    clear: both;
    display:block;
    overflow: hidden;
}
.menu-item:hover {
    text-decoration: none;
    color: #009ad8;
    border: #009ad8 solid;
    border-radius: 20px;
}
.home {
    width: 90px;
    color: #009ad8;
    border: #009ad8 solid;
    border-radius: 30px;
}

.nav-elements {
    display: grid;
    grid-template-rows: 0px;
    margin: 0px auto;
    padding: 0px 15px;
    width: 1170px;
    height: 39px;
}

.hero {
    position: relative;
    background-size: cover;
    min-height: 350px;
    background-image: url("images/banner.png");
    width: auto;
    height: 350px;
    margin: 0px auto;
}

/* .search-container {
    display: flex;
    height: 200px;
    width: 1140px;
    margin: 0px auto;
    padding: 70px 0px;
}
#form1 {
    position: relative;
}

 #location-search {
    display: block;
    color: white;
    font-family: "Roboto", inherit;
    font-weight: 500;
    font-size: 15px;
    background-color: #1e202b;
    padding: 20px 50px 20px 20px;
    width: 1140px;
    height: 57px;
}

#form1, #submit{
    cursor: pointer;
    background-color: #009ad8;
    color: white;
    width: 105px;
    height: 47px;
    margin: 5px;
    position: relative;
    top: 0;
    right: 0;
}
#locaton-search {
    width: 1140px;
}

#location-search,
#submit {
    border: none;
    outline: none;
    border-radius: 100px;
    margin-bottom: 70px;

} */

.search-container-1 {
    display: flex;
    justify-content: space-between; /* Ensure forms are evenly spaced */
    width: 1140px;
    margin: 0px auto;
    padding: 70px 0px;
  }
  .search-container-2 {
    display: flex;
    justify-content: space-between; /* Ensure forms are evenly spaced */
    width: 750px;
    margin: 0px auto;
  }

  #location-search-large {
    width: 1140px; /* Adjusted size for the large form */
  }
  
  #location-search-small {
    width: 750px; /* Original size retained for the small form */
  }
  
  #location-search-large,
  #location-search-small {
    display: flex;
    color: white;
    font-family: "Roboto", inherit;
    font-weight: 500;
    font-size: 15px;
    background-color: #1e202b;
    padding: 20px 50px 20px 20px;
    height: 57px;
    position: absolute;

    border: none;
    outline: none;
    border-radius: 100px;
    margin-bottom: 70px;
  }
  
  #submit-button,
  #submit-small {
    cursor: pointer;
    background-color: #009ad8;
    color: white;
    width: 105px;
    height: 47px; /* Adjusted height to match input */
    outline: none;
    margin: 5px 0;
    border-radius: 100px;
    /* margin-left: -53px; Move the button to overlap with the input */
    /* margin-top: 10px; Adjust margin for alignment */
    position: relative;


    border: none;
    outline: none;
    margin-bottom: 70px;
  }

  #submit-button {
    margin-left: 1030px;
  }

  #submit-small {
    margin-left: 640px;
  }
/* FORECAST TABLE */
.forecast-table {
    display: block;
    box-sizing: border-box;
    width: 1170px;
    height: 334px;
    padding: 0 15px;
    margin: 0px auto;
    margin-top: -151px;
}

.table {
    position: absolute;
    /* background-color: #1e202b; */
    color: #bfc1c8;
}

.table-wrapper {
    display: grid;
    grid-template-columns: 420px repeat(6, 120px);
    border: transparent;
    border-radius: 10px;
    overflow: hidden;
}

.today-date {
    display: flex;
    position: relative;
    background-color: #2d303d;
    font-weight: 500;
    width: 420px;
    height: 40px;
    padding: 10px;
}
.date {
    display: flex;
    position: absolute;
    padding-right: 10px;
    right: 0;
}

.forecast-info {
    background-color: #323544;
    height: 240px;
    padding: 30px 20px;
}

.city{
    font-weight: 500;
    font-size: 16px;
}
#number{
    display: flex;
    color: white;   
    font-size: 90px;
    margin-top: -5px;
    font-weight: 800;
    /* width: auto; */
    /* height: auto; */
}

#sup {
    position: relative;
    height: 70px;
    top: -20px;
}
sup {
    position: relative;
    top: -5px;
}

#icon1 {
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
    width: 100px;
    height: 70px;
}

#umbrella,
#wind,
#compass {
    margin-right: 5px;
}

.day-details {
    display: flex;
    margin-top: 10px;
    height: 20px;
}

#umbrella-icon,
#wind-icon,
#compass-icon {
    display: flex;
}
#umbrella-icon {
    margin-right: 20px;
}
#wind-icon {
    margin-right: 20px;
}

#wind {
    width: 21px;
    height: 21px;
}

.forecast {
    background-color: #262936;
    width: 120px;
    height: 280px;
}

.day {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    justify-content: center;
    padding: 10px 20px;
    height: 40px;
}

.day-card {
    padding: 50px 20px 10px 20px;
    align-items: center;
    height: 190px;
    width: 120px;
}

.forecast-img {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 50px;
    margin-bottom: 20px;
}

#max-grade-1,
#max-grade-2,
#max-grade-3,
#max-grade-4,
#max-grade-5,
#max-grade-6{
    display: flex;
    color: white;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
}

#min-grade-1,
#min-grade-2,
#min-grade-3,
#min-grade-4,
#min-grade-5,
#min-grade-6 {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.block {
    font-family: "Roboto", sans-serif;
    padding: 70px 0;
}

.container-live-cameras {
    font-family: "Roboto", sans-serif;
    color: white;
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-text {
    font-family: "Roboto",'Open Sans', sans-serif;
    font-size: 2.57143em;
    font-weight: 300;
    color: white;
    margin-bottom: 20px;
}

.live-camera-container {
    display: flex;
    flex-direction:row;
    /* grid-template-columns: repeat(4, 1fr); */
}

.live-camera {
    position: relative;
    display: inline-block;
}

.live-camera-block:not(.first) {
    display: flex;
    width: 292.5px;
    height: 280.72px;
    padding: 0 15px;
}
.first {
    display: flex;
    height: 280.72px;
    padding-right: 15px;
}

#lc {
    cursor: pointer;
    width: 262.5px;
    height: 184.72px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.icon-container {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fa {
    cursor: pointer;
    color:#262936;
    width: 45px;
    height: 45px;
}

.live-camera-title {
    font-family: "Roboto",'Open Sans', sans-serif;
    font-size: medium;
    color: white;
}

.live-camera-date {
    font-family: "Roboto",'Open Sans', sans-serif;
    font-size: 11.2px;
    font-size: 80%;
    margin-top: 5px;
    
    
    color: #bfc1c8;
}


.description-block {
    background-color:#262936;
    padding: 70px 0;
}

.description-container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.sections {
    display: grid;
    grid-template-columns: repeat(3, 100px 290px);
    color: white;
}

.section {
    width: 390px;
    height: 205px;
    margin: 0 15px;
}

.description {
    width: 290px;
    height: 205px;
}

.desc-date {
    font-size: 24px;
    color: #009ad8;
    height: 205px;
}
.desc-title {
    cursor: pointer;
    display: block;
    font-weight: 600;
    margin-bottom: 18px;
}

.desc-text {
    width: 260px;
    color: #bfc1c8;
    margin-bottom: 5px;
}



/* FEATURES */

.big-container {
    box-sizing: border-box;
    padding: 70px 0;
    color: white;
}
.main-block {
    width: 1170px;
    height: 390px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-elements-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.block-title {
    width: 360px;
    font-size: 36px;
    margin-bottom: 10px;
}
.block-elements {
    /* display: grid; */
    /* grid-template-columns: 50px auto; */
    padding-left: 30px;
}

.text-header {
    font-family: "Roboto",'Open Sans', sans-serif;
    font-weight: 500;
    /* width: 300px;     */
    margin-bottom: 20px;
}

.text-info {
    font-family: "Roboto",'Open Sans', sans-serif;
    font-size: 14px;
    color: #bfc1c8;
    margin-bottom: 10px;

}

.img-block{ 
    position: absolute;
}

.element {
    margin-bottom: 10px;
}

.t2 {
    margin-bottom: 25px;
}
.element-text {
    font-family: "Roboto",'Open Sans', sans-serif;
    font-size: 14px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.element-text:hover{
    color: #009ad8;
    transition: .1s linear;
}

#img-block {
    position: absolute;
}

.hr {
    height: 1px;
    width: 360px;
    background-color: #323544;
}

.block-element {
    display: grid;
    /* grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(3, 1fr); */
}

.block-title-t3 {
    /* height: 60px; */
    width: 360px;
    font-size: 36px;
    /* margin-bottom: 10px; */
}

.main-block-b2 {
    display: grid;
    grid-template-columns: repeat(3, 115px);
    grid-template-rows: repeat(3, 76.72px);
    gap: 10px;
}

#awsome-photos-image {
    max-width: 115px;
    /* cursor: pointer; */
}
#awsome-photos-image:hover {
    transition: .3s linear;
    opacity: .6;
    cursor: pointer;

}


/* FOOTER */


.footer-big-block {
    background-color: #262936;
    height: auto;
}

.footer-main-block {
    width: 1170px;
    margin: 0 auto;
}

.footer-elements {
    box-sizing: border-box;
    font-family: "Roboto",'Open Sans', sans-serif;
}

.footer-container {
    display: flex;
    width: 1140px;
    padding-top: 60px;
}
/* form {
    position: relative;
}

form input[type="search"] {
    color: white;
    font-family: "Roboto", inherit;
    font-weight: 500;
    font-size: 14px;
    background-color: #1e202b;
    padding: 20px 50px 20px 20px;
    width: 750px;
    height: 57px;
}

form input[type="submit"] {
    cursor: pointer;
    background-color: #009ad8;
    color: white;
    width: 100px;
    height: 47px;
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

#f-search,
#f-submit {
    border: none;
    outline: none;
    border-radius: 100px;

} */

footer {
    font-family: "Roboto",'Open Sans', sans-serif;
    color: #bfc1c8;
    display: flex;
    justify-content: center;
    /* margin: 40px 0px; */
}

.social-media {
    margin: 0 auto;
    padding-top: 8.5px
}




@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
} */
ul {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    margin: 0;
    padding: 0;
    display: flex;
}
ul li {
    position: relative;
    list-style: none;
    margin: 0 2px;
}
ul li::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 40px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.8);
}
ul li:hover::before {
    transition-delay: 0.2s;
    opacity: 0.2;
    transform: scale(1);
}
ul li a {
    width: 40px;
    height: 40px;
    display: block;
    transition: 0.5s;
}
ul li:hover a {
    transform: translateY(-10px);
}
ul li a span  {
    width: 100%;
    height: 100%;
}
ul li a span::before {
    font-family: fontAwesome;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    color: #262626;
    transform-origin: top;
    transition: transform 0.5s;
}
ul li:hover a span::before {
    transform: rotateX(90deg) translateY(-50%);
}
ul li a span::after {
    font-family: fontAwesome;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #fff;
    color: #262626; */
    transform-origin: bottom;
    transition: transform 0.5s;
    transform: rotateX(90deg) translateY(50%);
}
ul li:hover a span::after {
    transform: rotateX(0deg) translateY(0);
}
ul li:nth-child(1) a span::before,
ul li:nth-child(1) a span::after {
    content: '\f09a';
}
ul li:nth-child(2) a span::before,
ul li:nth-child(2) a span::after {
    content: '\f099';
}
ul li:nth-child(3) a span::before,
ul li:nth-child(3) a span::after {
    content: '\f0d5';
}
ul li:nth-child(4) a span::before,
ul li:nth-child(4) a span::after {
    content: '\f0e1';
}
ul li:nth-child(1) a span::after {
    background: #3b5999;
    color: #fff;
}
ul li:nth-child(2) a span::after {
    background: #55acce;
    color: #fff;
}
ul li:nth-child(3) a span::after {
    background: #dd4b39;
    color: #fff;
}
ul li:nth-child(4) a span::after {
    background: #0077b5;
    color: #fff;
}